In [23]:
import pandas as pd

holidayData = pd.read_csv("Holiday_Destination.csv")
holidayData.shape

(15, 5)

In [5]:
print(holidayData[3:9])

  Destinations  Feedback score  Average hotel star rating  \
3  Netherlands               9                          4
4      Denmark               7                          3
5    Thailand                8                          2
6      Morroco               9                          4
7       Egypt                5                          3
8      Iceland               8                          3

   All inclusive hotels Most visited city
3                     8         Rotterdam
4                    12        Copenhagen
5                    40           Bangkok
6                    30        Marrakesh
7                    45             Cairo
8                     9         Reykjavík

In [25]:
holidayData.mean()

C:\Users\Igood\AppData\Local\Programs\Python\Python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

score                         7.600000
Average hotel star rating     3.600000
All inclusive hotels         20.866667
dtype: float64

In [29]:
holidayData["score"].min()

4

In [30]:
holidayData["score"].max()

10

In [106]:
destinations = holidayData["All inclusive hotels"] > 8
destinations
scoreData = holidayData[destinations]
scoreData.head(15)

,Destinations,score,Average hotel star rating,All inclusive hotels,Most visited city
0,UK,9,2,15,London
1,UAE,10,5,30,Abu Dhabi
2,USA,6,3,25,New York
4,Denmark,7,3,12,Copenhagen
5,Thailand,8,2,40,Bangkok
6,Morroco,9,4,30,Marrakesh
7,Egypt,5,3,45,Cairo
8,Iceland,8,3,9,Reykjavík
11,Sweden,7,4,9,Stockholm
12,Switzerland,8,4,20,Bern
13,Bahamas,9,5,35,Nassau
14,Japan,10,5,20,Tokoyo

In [109]:
highScore = holidayData["score"] > 8
highScore 
scores = holidayData[highScore]
scores.head(15)

,Destinations,score,Average hotel star rating,All inclusive hotels,Most visited city
0,UK,9,2,15,London
1,UAE,10,5,30,Abu Dhabi
3,Netherlands,9,4,8,Rotterdam
6,Morroco,9,4,30,Marrakesh
13,Bahamas,9,5,35,Nassau
14,Japan,10,5,20,Tokoyo

In [127]:
lowScore = holidayData["score"] < 1
lowScore 
belowTwo = holidayData[lowScore]
belowTwo.head(15)
# i can't find the mistakes for this code, i had to edit my data to include 1 score but still don't see the result

Empty DataFrame
Columns: [Destinations, score, Average hotel star rating, All inclusive hotels, Most visited city]
Index: []